@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Lago de Tota

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #002b4f;
$tertiary_color: #29abe2;
$fourth_color: #8cc63f;
$fifth_color: #f7931e;
$sixth_color: #ffff00;
$background: #f2f2f2;
$border: #002b4f;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top_top {
	background-color: $background;
	.moduletable_tt1 {
		ul.menu {
			display: flex;
			flex-wrap: nowrap;
			li {
				flex-grow: 1;
				&.current-menu-item {
					a {
						background-color: $tertiary_color;
						color: #fff;
					}
				}
				a {
					padding: 10px;
					font-size: 12px;
					text-transform: uppercase;
					&:hover {
						background-color: $tertiary_color;
						color: #fff;
					}
				}
			}
		}
	}
}

.top {
	background-color: $secondary_color;
	position: relative;
	z-index: 3;
	.moduletable_to2 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						height: 50px;
						padding: 0 10px;
						background: {
							image: url(moduletable_to2_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&#menu-item-176 {
							background: none;
						}
						&#menu-item-12 {
							width: 145px;
							margin-top: -30px;
							padding: 0;
							background: none;
							&.current-menu-item {
								a {
									border-bottom: none;
								}
							}
							a {
								width: 145px;
								height: 145px;
								padding: 0;
								background: {
									color: transparent;
									image: url(logo.png);
									position: center;
									repeat: no-repeat;
								}
								color: transparent;
							}
						}
						&.current-menu-item {
							a {
								background-color: $tertiary_color;
							}
						}
						a {
							padding: 15px;
							color: #fff;
							text-transform: uppercase;
							&:hover {
								background-color: $tertiary_color;
							}
							&:after {
								border: {
									top-width: 4px;
									left-width: 4px;
									right-width: 4px;
									top-color: $fourth_color;
								}
							}
						}
						ul.sub-menu {
							border: 0;
							z-index: 100;
							li {
								height: inherit;
								background-image: none;
								z-index: 100;
								a {
									width: 100%;
									background-color: $tertiary_color;
									border: none;
									font: {
										size: 12px;
										weight: normal;
									}
									color: #fff;
									z-index: 100;
									&:hover {
										background-color: $secondary_color;
										color: #fff;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Banner */

.banner {}

/* Content */

.content {
	padding: 30px 0;
	h1 {
		margin-bottom: 30px;
		font-size: 22px;
		color: $secondary_color;
		span {
			font-weight: bold;
		}
		&.green {
			margin-bottom: 10px;
			color: $fourth_color;
		}
	}
	h2 {
		font-size: 22px;
		color: $fourth_color;
	}
	a {
		&.button {
			border: 1px solid $secondary_color;
			border-radius: 0;
			color: $secondary_color;
			&.green {
				border: 1px solid $fourth_color;
				color: $fourth_color;
			}
		}
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	iframe {
		border: 0;
	}
	&.special {
		background: {
			image: url(content_special_bg.png);
			position: top;
			repeat: no-repeat;
			size: 100%;
		}
		.row {
			background-color: #fff;
			-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
			-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
			position: relative;
			.post_menu {
				ul.menu {
					padding: 10px 0;
					li {
						&.current-menu-item {
							a {
								background-color: $secondary_color;
								color: #fff;
							}
						}
						a {
							padding: 15px 20px;
							border-bottom: 1px solid $border;
							text-transform: uppercase;
							&:hover {
								background-color: $secondary_color;
								color: #fff;
							}
						}
					}
				}
			}
			.post_main {
				.post_thumbnail {
					img {
						width: 100%;
					}
				}
				.post_content {
					padding: 40px;
					h1 {
						margin-bottom: 20px;
						color: $fourth_color;
						text-transform: uppercase;
					}
				}
			}
			.category_main {
				padding: 1em;
				article {
					h2 {
						margin-bottom: 20px;
						text-transform: uppercase;
						a {
							color: $fourth_color;
						}
					}
				}
			}
			.single_main {
				padding: 1em;
				.single_thumbnail {}
				.single_content {
					padding: 40px;
					h1 {
						margin-bottom: 20px;
						color: $fourth_color;
						text-transform: uppercase;
					}
				}
			}
			.moduletable_ri1,
			.moduletable_ri2,
			.moduletable_ri3 {
				margin: 15px 0;
				h3 {
					margin: 0;
					padding: 5px 0;
					background-color: $tertiary_color;
					font-size: 16px;
					color: #fff;
					text-transform: uppercase;
				}
				ul {
					margin: 0;
					padding: 0 10px 10px 10px;
					border: 1px solid $tertiary_color;
					li {
						border-bottom: 1px solid $tertiary_color !important;
						list-style: none;
						a {
							padding: 10px;
							text-align: center;
							text-transform: uppercase;
							display: block;
						}
					}
				}
			}
			.moduletable_ri2 {
				h3 {
					background-color: $fourth_color;
				}
				ul {
					border: 1px solid $fourth_color;
					li {
						border-bottom: 1px solid $fourth_color !important;
					}
				}
			}
			.moduletable_ri3 {
				h3 {
					background-color: $secondary_color;
				}
				ul {
					border: 1px solid $secondary_color;
					li {
						border-bottom: 1px solid $secondary_color !important;
					}
				}
				.author {
					p {
						margin: 0;
						&.a_image {
							padding: 10px;
						}
						&.a_name {
							text-transform: uppercase;
						}
						&.a_email {
							a {
								color: $primary_color;
							}
						}
					}
				}
			}
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 20px 0;
	.moduletable_b11 {
		h3 {
			margin-bottom: 10px;
			padding: 10px;
			background-color: $fourth_color;
			font-size: 20px;
			color: #fff;
			text-transform: uppercase;
		}
		.wplp_outside {
			.insideframe {
				ul {
					li {
						.insideframe {
							margin: 0 5px;
							.wpcu-front-box {
								&.top {
									background-color: #fff;
									a {
										span.thumbnail {
											margin-bottom: 10px;
											border: 1px solid $fourth_color;
											span.img_cropper {
												height: inherit !important;
											}
										}
										span.title {
											max-width: 100%;
											padding: 10px;
											background-color: $fourth_color;
											font-size: 20px;
											color: #fff;
											text-align: center;
										}
									}
								}
								&.bottom {
									padding: 0;
									background-color: transparent;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 20px 0;
	.moduletable_b21 {
		p {
			margin-bottom: 20px;
			background: {
				image: url(moduletable_b21_boat_bg.png);
				position: center;
				repeat: no-repeat;
			}
		}
	}
	.moduletable_b22 {
		h3 {
			margin-bottom: 10px;
			padding: 10px;
			background-color: $secondary_color;
			font-size: 20px;
			color: #fff;
			text-transform: uppercase;
		}
		.upw-posts {
			.entry-image {
				margin: 0 10px 0 0;	
				float: left;
				position: relative;
			}
			.entry-title {
				font-size: 20px;
				color: $secondary_color;
				text-transform: uppercase;
			}
			.entry-summary {
				a.more-link {
					margin-top: 20px;
					padding: 5px;
					border: 1px solid $fourth_color;
					color: $fourth_color;
					float: right;
					position: relative;
				}
			}
		}
	}
	.moduletable_b23 {
		h3 {
			margin-bottom: 10px;
			padding: 10px;
			background-color: $fifth_color;
			font-size: 20px;
			color: #fff;
			text-transform: uppercase;
		}
		.wplp_outside {
			.insideframe {
				ul {
					li {
						.insideframe {
							margin: 0 5px;
							.wpcu-front-box {
								&.top {
									background-color: #fff;
									a {
										span.thumbnail {
											margin-bottom: 0;
											border: 1px solid $fifth_color;
											&:after {
												content: 'PUTA MIERDA';
											}
										}
									}
								}
								&.bottom {
									margin-top: -60px;
									padding: 0;
									background-color: transparent;
									a {
										span.read-more {
											height: 42px;
											margin: 10px;
											padding: 0;
											background: {
												image: url(moduletable_b23_read_more_bg.png);
												position: right;
												repeat: no-repeat;
											}
											color: transparent;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 20px 0;
	.moduletable_b31 {
		h3 {
			font-size: 20px;
			color: $secondary_color;
			background: {
				image: url(moduletable_b31_h3_bg.png);
				position: center;
				repeat: no-repeat;
			}
		}
		a {
			&.button {
				width: 100%;
				background-color: transparent;
				border: 1px solid $secondary_color;
				border-radius: 0;
				color: $secondary_color;
			}
		}
	}
}

/* Block 4 */

.block_4 {
	padding: 20px 0;
	.moduletable_b41 {
		h3 {
			font-size: 20px;
			color: $secondary_color;
			background: {
				image: url(moduletable_b41_h3_bg.png);
				position: center;
				repeat: no-repeat;
			}
		}
		h4 {
			font-size: 14px;
			color: $fourth_color;
		}
		a {
			&.button {
				width: 100%;
				padding: 10px 0;
				border-radius: 0;
				color: #fff;
				&.blue {
					background-color: $secondary_color;
				}
				&.green {
					background-color: $fourth_color;
				}
			}
		}
	}
	.box_1 {
		.so-panel {
			margin-bottom: 0 !important;
		}
		p {
			margin: 0;
		}
		.a {
			img {
				width: 100%;
			}
			a.button {
				margin-bottom: 0;
				background-color: $tertiary_color;
			}
		}
		.b {
			background-color: $fourth_color;
			color: #fff;
			a.button {
				margin-bottom: 0;
				background-color: $tertiary_color;
			}
		}
		.c {
			background-color: $tertiary_color;
			color: #fff;
			a.button {
				margin-bottom: 0;
				background-color: $fourth_color;
			}
		}
	}
}

/* Block 5 */

.block_5 {
	margin: 20px 0;
	padding: 20px 0;
	background-color: $background;
	.moduletable_b51 {
		.a {
			p {
				margin: 0;
				a {
					margin: 0 10px;
					display: inline-block;
				}
			}
		}
		.b {
			h3.widget-title {
				font-size: 16px;
			}
			.tnp-widget {
				.tnp-field {
					&.tnp-field-email {
						width: 70%;
						float: left;
						position: relative;
						label {
							display: none;
						}
						input[type=email] {
							margin: 0;
							background-color: #fff;
						}
					}
					&.tnp-field-button {
						width: 30%;
						float: left;
						position: relative;
						input[type=submit] {
							margin: 0;
							background-color: $secondary_color;
						}
					}
				}
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 20px 0 10px 0;
	background-color: $secondary_color;
	.moduletable_bo1 {
		p {
			margin: 0;
			color: $sixth_color;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 20px;
	background-color: $secondary_color;
	color: $sixth_color;
	a {
		color: $sixth_color;
	}
}

/* Payment */

.moduletable_pa1 {
	width: 150px;
	padding: 10px;
	top: 30%;
	right: 0;
	background-color: $fourth_color;
	position: fixed;
	z-index: 100;
	p {
		margin: 0;
		color: #fff;
		text: {
			align: center;
			transform: uppercase;
		}
		a {
			color: #fff;
		}
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top_top {
		.moduletable_tt1 {
			.panel-grid-cell {
				margin-bottom: 0 !important;
			}
			#b {
				margin-bottom: 10px;
			}
		}
	}

	.top {
		.moduletable_to1 {
			img {
				max-height: 100px;
			}
		}
		.moduletable_to2 {
			margin: 10px 0;
			.top-bar {
				.top-bar-title {
					width: 100%;
					margin: 0;
					color: #fff;
					text-align: center;
					button {
						&:after {
							background: #fff;
							box-shadow: 0 7px 0 #fff, 0 14px 0 #fff;
						}
					}
				}
				#responsive-menu {
					width: 100%;
					ul.menu {
						li {
							width: 100%;
							padding: 5px 0;
							background: none;
							&#menu-item-12 {
								display: none;
							}
							a {
								padding-top: 15px;
								text-align: center;
								display: block;
							}
						}
					}
				}
			}
		}
	}

	/* Payment */

	.moduletable_pa1 {
		display: none;
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}